In [1]:
# Import libraries
import pandas as pd
from pandas import DataFrame
import numpy as np 
import seaborn as sns

In [2]:
side_effect_binary=pd.read_csv('data/source_codes_and_datasets_2015-09-05/Liu_dataset_and_experiments/Liu_dataset/merged_data/random_group_cv_data.indication', sep = '\t', delimiter = '|', engine= 'python', header = None)

In [3]:
side_effect_binary.columns=['drugBankID', 'drugName', 'compoundID', 'ADE_str', 'chem_str', \
                           'target_gene', 'transporter', 'enzyme', 'kgg', 'indication', \
                           'group_str']

In [4]:
side_effect_binary1=side_effect_binary[['drugBankID', 'drugName', 'compoundID']]
side_effect_binary1.head(2)

  drugBankID    drugName  compoundID
0    DB00220  nelfinavir        4451
1    DB01340  cilazapril        2751

In [5]:
side_effect_binary1.nunique()

drugBankID    826
drugName      832
compoundID    832
dtype: int64

In [6]:
side_effect_binary_str=side_effect_binary[['ADE_str', 'chem_str', 'target_gene', \
                                           'transporter', 'enzyme', 'kgg', 'indication']]

In [9]:
#convert ADE_str to list and then to dataframe and concatenate to side_effect_binary1
side_effect_binary_ade=side_effect_binary_str.ADE_str.apply(list)
type(side_effect_binary_ade)

pandas.core.series.Series

In [10]:
#convert the ADE_str list to dataframe 
se_binary_ade=pd.DataFrame(side_effect_binary_ade.tolist())

#add suffix to column names
se_binary_ade=se_binary_ade.add_suffix('_ade')

#convert to int8
se_binary_ade=se_binary_ade.apply(pd.to_numeric, downcast='integer')
type(se_binary_ade)

pandas.core.frame.DataFrame

In [11]:
#convert chem_str to list
side_effect_binary_cstr=side_effect_binary_str.chem_str.apply(list)

#convert the ADE_str list to dataframe 
side_effect_binary_cstr=pd.DataFrame(side_effect_binary_cstr.tolist())

#add suffix to column names
side_effect_binary_cstr=side_effect_binary_cstr.add_suffix('_cstr')

#convert to int8
side_effect_binary_cstr=side_effect_binary_cstr.apply(pd.to_numeric, downcast='integer')

In [12]:
#concatenate with side_effect_binary1 which has drug names
side_effect_binary1=pd.concat([side_effect_binary1, side_effect_binary_cstr], axis=1)

In [14]:
side_effect_binary1.head(2)

,drugBankID,drugName,compoundID,0_cstr,1_cstr,2_cstr,3_cstr,4_cstr,5_cstr,6_cstr,...,871_cstr,872_cstr,873_cstr,874_cstr,875_cstr,876_cstr,877_cstr,878_cstr,879_cstr,880_cstr
0,DB00220,nelfinavir,4451,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,DB01340,cilazapril,2751,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Merge side_effect_binary1 that has drug info with _ade
side_effect_binary1=pd.concat([side_effect_binary1, se_binary_ade], axis=1)
#important = ['drugBankID', 'drugName', 'compoundID']
#reordered = important + [c for c in side_effect_binary1.columns if c not in important]
#side_effect_binary1 = side_effect_binary1[reordered]
#keep_same={'drugBankID', 'drugName', 'compoundID'}
side_effect_binary1.head()

In [ ]:
#side = df.infer_objects()
#df.iloc[:, -6:] = df.iloc[:, -6:].apply(pd.to_numeric, downcast='integer')
#for col in [x for x in df.columns if x != 'Date']:
   #df[col] = df[col].astype(float)

In [ ]:
#keep_same = {'Id', 'Name'}
#df.columns = ['{}{}'.format(c, '' if c in keep_same else '_old')
              #for c in df.columns]

In [ ]:
#convert all drugnames to lowercase

In [ ]:
side_effect_binary1.compoundID.dtype

In [ ]:
side_effect_binary1.iloc[:, 3:]=side_effect_binary1.iloc[:, 3:]\
.apply(pd.to_numeric, downcast='integer')